* {
    box-sizing: border-box;
  }
  main{
      
  }
  body {
    font-family: 'Roboto', sans-serif;
    background-image: url(images/background.jpg);
    background-repeat: repeat;
    min-height: 100%;
    background-size: cover;
    color: aliceblue;
    /* background-position: center center; */
    /* background-color: #007DFA; */
  }
  
  button, input[type="text"] {
    padding: 5px; 
  }
  
  button:hover {
    cursor: pointer;
  }

  h1, h4 {
      text-align: center;  
  }
  
  .container {
    width: 100%;
    display: block;
    margin: auto;
  }
  
  .error-message {
      color: red;
  }
  
  .hidden {
    display: none;
  }

  a {
      text-decoration: none;
  }

  .align1{
    padding-right: 80px;
    padding-left: 20px;
  }

  .align2{
    padding-right: 46px;
    padding-left: 20px;
  }

  #js-search-term, #js-max-results {
      width: 143px;
      margin: 10px;
  }
  .card {
    /* Add shadows to create the "card" effect */
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.4);
    transition: 0.3s;
    border-radius: 5px;
    background-color: rgba(118, 148, 187, 0.6);
    opacity: 0.8;
    margin: 15px;
  }
  
  /* On mouse-over, add a deeper shadow */
  .card:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.7);
    opacity: 1;
  }
  
  /* Add some padding inside the card container */
  .cont {
    padding: 2px 16px;
  }

  .sect, .top{
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.4);
    transition: 0.3s;
    background-color: rgba(133, 137, 140, 0.8);
    border-radius: 5px;
  }

  img {
      width: 80%;
      display: block;
      margin: auto;
      padding-top: 5%;
  }

  .lab {
    width: 100%;
    display: block;
    margin: 1px;
    padding-bottom: 3%;
}

  .button{
    display: block;
    width: 80%;
    margin: auto;
    margin-bottom: 3%;
  }
  
  @media all and (max-width: 600px) {
    .align1{
        padding-right: 80px;
        padding-left: 20px;
      }
    
      .align2{
        padding-right: 46px;
        padding-left: 20px;
      }
   
     .sect, #js-form{
        display: flex; 
        flex-direction: column; 
     }
 }

  @media all and (min-width: 600px) {
     /* #results, #y-results{
        flex-direction: row;
      } */
      .lab {
        width: 50%;
        padding-left: 10%;
        padding-top: 10%;
        padding-bottom: 10%;
        font-weight: bold;
      }

      .align2{
        padding-right: 43.3px;
      }

      .bot {
        width: 50%;
        margin: 0;
        padding-top: 10%;
        padding-bottom: 10%;
      }

      .button{
        margin-top: 0%;
        margin-bottom: 5%;
        padding-top: 3%;
        padding-bottom: 3%;
        font-size: 16px;
        font-weight: bold;
      }

      .sect, #js-form{
        display: flex;
        flex-direction: row;
      }

      section{
          text-align: center;
      }
  }