* {
    box-sizing: border-box;
  }
  
  body {
    font-family: 'Roboto', sans-serif;
    /* background-color: #007DFA; */
  }
  
  button, input[type="text"] {
    padding: 5px;
  }
  
  button:hover {
    cursor: pointer;
  }
  
  .container {
    max-width: 600px;
    margin: 0 auto;
  }
  
  .error-message {
      color: red;
  }
  
  .hidden {
    display: none;
  }

  a {
      text-decoration: none;
  }

  #l-results-list, #y-results-list {
    list-style-type: none;
  }

  .align1{
    padding-right: 80px;
  }

  .align2{
    padding-right: 41px;
  }

  #js-search-term, #js-max-results {
      width: 143px;
      margin: 10px;
  }
  
  /* .button {
      align-self: center;
  } */